<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCCG SolidRock</title>
    <link rel="stylesheet" href="~/sites/bootstrap.css" />
    <link rel="stylesheet" href="~/sites/css/main.css" />
</head>
<body>
    <!-- header begin -->
    <header>
            <div class="container">
                <span id="menu-btn"></span>
                <div class="row">
                    <div class="col-md-3">

                        <!-- logo begin -->
                        <div id="logo">
                            <div class="inner">
                                <a asp-controller="Home" asp-action="Index" >
                                    <img src="~/sites/img/rccg-logo2.png" alt="" class="logo-1">
                                    <img src="~/sites/img/rccg-logo.png" alt="" class="logo-2">
                                </a>
                            </div>
                        </div>
                        <!-- logo close -->

                    </div>

                    <div class="col-md-9">

                        <!-- mainmenu begin -->
                        <div id="mainmenu-container" class="float-right">
                            <ul id="mainmenu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li><a href="#" >About Us</a>
                                    <ul>
                                        <li><a asp-controller="About" asp-action="OurHistory">Our History</a></li>
                                        <li><a asp-controller="About" asp-action="MissionAndVision">Mission and Vision</a></li>
                                        <li><a asp-controller="About" asp-action="OurBeliefs">Our Beliefs</a></li>
                                    </ul>
                                </li>
                                @*<li>
                                    <a asp-controller="Events" asp-action="Index">Events</a>
                                </li>*@
                                <li>
                                    <a asp-controller="Media" asp-action="Index">Media</a>
                                </li>
                               @* <li>
                                    <a asp-controller="Gallery" asp-action="Index">Gallery</a>
                                </li>*@
                                <li>
                                    <a asp-action="Index" asp-controller="ContactUs">Contact</a>
                                </li>
                                <li>
                                    <a asp-controller="OnlineGiving" asp-action="Index" class="btn btn-warning btn-sm font-weight-bold">Online Giving</a>
                                </li>
                            </ul>
                        </div>
                        <!-- mainmenu close -->

                        <!-- social icons -->
                        <div class="social">
                            <a href="https://www.facebook.com/rccgogunprovince5"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <!-- social icons close -->

                    </div>
                </div>
            </div>

    </header>
    <!-- header close -->
    @*<div class="container">*@
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    @*</div>*@

    <footer class="border-top footer text-muted">

        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    &copy; Copyiright 2021 - RCCG Solid Rock Ogun 5
                </div>
                <div class="col-md-4 social text-center">
                    <a href="https://www.facebook.com/rccgogunprovince5" class="m-2"><i class="fa fa-facebook"></i></a>
                    <a href="#" style="margin-left:10px; margin-right:10px"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="m-2"><i class="fa fa-youtube"></i></a>
                </div>
                <div class="col-md-4 text-center">
                    <nav>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            @*<li><a asp-controller="Events" asp-action="Index">Events</a></li>*@
                            <li><a asp-controller="Media" asp-action="Index">Media</a></li>
                            @*<li><a asp-controller="Gallery" asp-action="Index">Gallery</a></li>*@
                            <li><a asp-controller="ContactUs" asp-action="Index">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </footer>

    <!-- LOAD JS FILES -->
    <script src="~/sites/js/jquery.min.js"></script>
    <script src="~/sites/js/bootstrap.min.js"></script>
    <script src="~/sites/js/jquery.isotope.min.js"></script>
    <script src="~/sites/js/jquery.prettyPhoto.js"></script>
    <script src="~/sites/js/easing.js"></script>
    <script src="~/sites/js/jquery.ui.totop.js"></script>
    <script src="~/sites/js/ender.js"></script>
    <script src="~/sites/js/responsiveslides.min.js"></script>
    <script src="~/sites/js/owl.carousel.js"></script>
    <script src="~/sites/js/jquery.fitvids.js"></script>
    <script src="~/sites/js/jquery.plugin.js"></script>
    <script src="~/sites/js/jquery.countdown.js"></script>
    <script src="~/sites/js/countdown-custom.js"></script>
    <script src="~/sites/js/wow.min.js"></script>
    <script src="~/sites/js/custom.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="~/sites/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/sites/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/sites/js/rev-setting-1.html"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
