@{
    ViewData["Title"] = "Contact";
}


<div id="preloader"></div>

        <!-- subheader begin -->
        <section id="subheader" data-speed="2" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1>Contact</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.3638031695737!2d3.629693314056962!3d6.846917996508268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bdba34a67ce69%3A0x54aed112930f89dc!2sMolaroid%20Hotels!5e0!3m2!1sen!2sng!4v1636324658694!5m2!1sen!2sng" 
                width="1500" 
                height="380" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
        </div>

        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="contact-form-wrapper">
                            <div class="contact_form_holder">
                                <form asp-action="Index" id="contact" class="row" name="form1" method="post">

                                    <input type="text" class="form-control" name="Name" id="name" placeholder="Your name" />

                                    <div id="error_email" class="error">Please check your email</div>
                                    <input type="text" class="form-control" name="Email" id="email" placeholder="Your email" />

                                    <div id="error_message" class="error">Please check your message</div>
                                    <textarea cols="10" rows="10" name="Message" id="message" class="form-control" placeholder="Your message"></textarea>

                                    @if(@ViewBag.Info != null){
                                        <h1 style="color:green;">@ViewBag.Info</h1>
                                        <div id="mail_success" class="success">Thank you. Your message has been sent.</div>
                                    }
                                    else{
                                        <h1>@ViewBag.Error</h1>
                                        <div id="mail_failed" class="error">Error, email not sent</div>
                                    }
                                    

                                    @*<p id="btnsubmit">*@
                                        <input type="submit" id="send" value="Send" class="btn btn-primary" />
                                    @*</p>*@
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="contact-info">

                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>

                            <div class="divider-line"></div>

                            <span class="title">Telephone:</span>
                            0805-434-8438
						
						<div class="divider-line"></div>

                            <span class="title">Church Time:</span>
                            Sunday Service: 09:30 - 11:00am<br>
                            Sunday School: 08:30 - 09:30am<br>
                            Digging Deep: Tuesdays 05:30pm<br>
                            Faith Clinic: Thursdays 05:30pm<br>

                            <div class="divider-line"></div>

                            <span class="title">Address:</span>
                            4, Adeniji Street, Behind Molaroid Hotel, Sagamu, Ogun State
						
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->