@{
    ViewData["Title"] = "Media";
}

<!-- subheader begin -->
<section id="subheader" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>MEDIA</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<div id="content" class="no-padding">

            <!-- section begin -->
            <section >
                <div class="container">
                    <div class="col-md-12 text-center">
                        <h3>LIVE BROADCAST</h3>
                        <iframe width="942" height="530" src="https://www.youtube.com/embed/H5FfYn-JeUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            <div class="clearfix"></div>

        </section>
        <!-- section close -->


        </div>