@{
    ViewData["Title"] = "Media";
}

<!-- subheader begin -->
<section id="subheader" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>MEDIA</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->