
@{
    ViewData["Title"] = "Mission & Vision";
}



<div id="preloader"></div>

        <!-- subheader begin -->
        <section id="subheader" data-speed="2" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1>RCCG Mission And Vision</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="contact-form-wrapper">
                            <div class="contact_form_holder">
                                <h1 style="margin-bottom:20px; color:#090;">RCCG Mission And Vision</h1>
                                
                                    <p style="margin-bottom:20px; font-size:16px">1) To make heaven.</p>

                                    <p style="margin-bottom:20px; font-size:16px">2) To take as many people with us.</p>

                                    <p style="margin-bottom:20px; font-size:16px">3) To have a member of RCCG in every family of all nations.</p>

                                    <p style="margin-bottom:20px; font-size:16px">4) To accomplish No. 1 above, holiness will be our lifestyle.</p>

                                    <p style="margin-bottom:20px; font-size:16px">5) To accomplish No. 2 and 3 above, we will plant churches within five minutes walking distance in every city and town of developing countries and within five minutes driving distance in every city and town of developed countries.</p>

                                    <p style="margin-bottom:20px; font-size:16px">6) We will pursue these objectives until every Nation in the world is reached for the Lord Jesus Christ</p>
                                
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="contact-info">
                            <img style="width:60%" src="https://res.cloudinary.com/dkoncept/image/upload/v1636499914/ChurchMgt/rccg-solid-rock/rccg-solidrock-logo_zhg1an.png"/>
                            
						
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- content close -->
